@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Philosopher&display=swap');
:root {
    background-image: url("/images/background.png");
    background-position: 100vw;   
}

* {
    font-family: 'Barlow', sans-serif !important;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

section {
    display: block;
}

#stats {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    min-width: 90px;
    padding: 5px;
    margin: 5px;
}

button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: medium;
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    padding: 20px;
    min-width: 80px;
    font-weight: bold;
} 

a {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    padding: 20px;
    min-width: 80px;
    margin-bottom: 5px;
    font-weight: bold;
}

#audio {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color: rgb(19, 19, 19);
}

